.place__link-title {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7%;
  letter-spacing: 2px;
  color: #aaa;
}

@media screen and (max-width:768px) {
  .place__link-title {
    line-height: 1;
  }
}


