.place {
  margin: 0 0 80px 0;
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
}

.place:last-child {
  margin: 0;
}

@media screen and (max-width:1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width:768px) {
  .place {
    margin-bottom: 71px;
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width:740px) {
  .place {
    grid-template-columns: 1fr 1fr;
    gap: 48px 15px;
  }
}

@media screen and (max-width:450px) {
  .place {
    display: block;
    margin-bottom: 50px;
  }
}


